<html>
    <head>
        <title>INVENTATEQ BAIRI BLOG</title>
    </head>
    <body>
        <div>
            <h1><a href="/">INVENTATEQ BAIRI BLOG</a></h1>
        </div>

        <div>
            <p>published: 19.01.2019, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>this is the first post</p>
        </div>

        <div>
            <p>published: 19.02.2019, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>this is the second post</p>
        </div>
    </body>
</html>